#
# pin constraints
#
NET CDCE913_SCL LOC = "F14"  |  IOSTANDARD = "LVCMOS33"  |  OPEN_DRAIN;
NET CDCE913_SDA LOC = "F15"  |  IOSTANDARD = "LVCMOS33"  |  OPEN_DRAIN;
NET CLK_66MHZ LOC = "K15"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_4Bits_TRI_O[0] LOC = "P4"  |  IOSTANDARD = "LVCMOS18";
NET LEDs_4Bits_TRI_O[1] LOC = "L6"  |  IOSTANDARD = "LVCMOS18";
NET LEDs_4Bits_TRI_O[2] LOC = "F5"  |  IOSTANDARD = "LVCMOS18";
NET LEDs_4Bits_TRI_O[3] LOC = "C2"  |  IOSTANDARD = "LVCMOS18";
NET RESET LOC = "V4"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
NET USB_Uart_sin LOC = "R7"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sout LOC = "T7"  |  IOSTANDARD = "LVCMOS33";


# LCD E
NET LCD_IO_PIN<6> LOC = "F17" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #h12

# LCD RW
NET LCD_IO_PIN<5> LOC = "K13" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #g13

# LCD RS
NET LCD_IO_PIN<4> LOC = "K12" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #e16

# LCD DB7
NET LCD_IO_PIN<3> LOC = "E18" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #e18

# LCD DB6
NET LCD_IO_PIN<2> LOC = "E16" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #k13

# LCD DB5
NET LCD_IO_PIN<1> LOC = "G13" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #k12

# LCD DB4
NET LCD_IO_PIN<0> LOC = "H12" |  IOSTANDARD = "LVCMOS33" | PULLDOWN | SLEW = SLOW | DRIVE = 2; #f17



#
# additional constraints
#

NET "CLK_66MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66666 kHz;

### Set Vccaux for S6LX9 MicroBoard to 3.3V ###
CONFIG VCCAUX = "3.3" ;

